@media only screen and (max-width: 400px) {
	h1 {
		float: none;
		margin: 0;
		width: 100%;
		text-align: center;
	}

	.container {
		margin-top: 5em;
	}


	.task-list-container {
		max-width: 100%;
		margin-top: 0;
		padding-left: 1em;
		padding-right: 1em;

	}

	.search-bar {
		float: none;
		max-width: 100%;
		margin-top: 5%;
	}


	form .task-input {
  		max-width: 60%;
  		height: 30%;
  		margin-left: 5%;
	}

	li {
	  margin: 1em 1em 1em 1em;
	  border-bottom: 1px solid gray;
	}

	.remove-task {
	  margin-left: 15em;
	  font-size: 1em;
	}
}

